#main_container{
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}

#title{
    /*float: left;*/
    display: inline;
}

#counter{
    float: right;
    display: inline;
}

#title_container hr{
    /*display:inline;*/
}

#ctext{
    word-wrap:break-word;
    font-family: 'Oxygen Mono';
}

#input_container{
    width: 100%;   
}

#input_container input{
    width: 95%;
    margin-left:2px;
    border-width:0px;
    border-bottom-width: 2px;
}

#response .hlight{
    background-color:yellow;
}

#footer {
    position:fixed;
    margin-left:auto;
    margin-right:auto;
    bottom:0px;
    height:30px;
    text-align:center;
    link-color:
    width:75%%;
}


#footer li
{
    display: inline;
    list-style-type: none;
    padding-right: 40px;
}

a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #550000;
}
